{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header>
        <div class="header-container">
            <a href="/" class="logo-link">
                <div class="logo">
                    <span>FeastFit</span>
                    <p>Recipe and Diet Planner</p>
                </div>
            </a>
            <nav class="nav-container">
                <ul class="nav-links">
                    <li><a href="/" class="active">Home</a></li>
                    <li><a href="{% url 'accounts:login' %}">SignIn</a></li>
                    <li><a href="/recipes">Recipes</a></li>
                    <li><a href="{% url 'feast_recipes:upload_recipe' %}">Upload Recipe</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <input type="text" placeholder="Search Recipe..." class="search-bar">
                </ul>
            </nav>
            <div class="profile-container">
                {% if user.is_authenticated %}
                <a href="{% url 'accounts:profile' %}" class="profile-link" aria-label="View Profile">
                    <img src="{{ user.profile.profile_pic.url }}" alt="Profile Picture of {{ user.username }}" class="profile-pic">
                </a>
                {% else %}
                <a href="{% url 'accounts:login' %}" class="login-link" aria-label="Login">Login</a>
                {% endif %}
            </div>
        </div>
    </header>
    <main>
        <section class="recipes-header">
            <h1>Explore Delicious Recipes</h1>
            <p>Search, Filter, and Discover your next meal!</p>
        </section>
        <section class="search-filters">
            <div class="search-bar">
                <input type="text" id="search" placeholder="Search for a recipe..." oninput="searchRecipes()">
            </div>
            <div class="filters">
                <div class="filter">
                    <label for="cuisine">Cuisine:</label>
                    <select id="cuisine" onchange="filterRecipes()">
                        <option value="">Select Cuisine</option>
                        <option value="Italian">Italian</option>
                        <option value="Indian">Indian</option>
                        <option value="Chinese">Chinese</option>
                    </select>
                </div>
                <div class="filter">
                    <label for="ingredient">Ingredient:</label>
                    <select id="ingredient" onchange="filterRecipes()">
                        <option value="">Select Ingredient</option>
                        <option value="Chicken">Chicken</option>
                        <option value="Vegetables">Vegetables</option>
                        <option value="Fish">Fish</option>
                    </select>
                </div>
                <div class="filter">
                    <label for="diet">Diet Type:</label>
                    <select id="diet" onchange="filterRecipes()">
                        <option value="">Select Diet</option>
                        <option value="Vegan">Vegan</option>
                        <option value="Vegetarian">Vegetarian</option>
                        <option value="Paleo">Paleo</option>
                    </select>
                </div>
            </div>
        </section>
        <section class="all-recipes">
            <h2>Recipes For You</h2>
            <div class="recipe-gallery">
                {% for recipe in all_recipes %}
                <div class="recipe-card" data-recipe-id="{{ recipe.id }}">
                    <a href="{% url 'feast_recipes:recipe_content' recipe.id %}">
                        <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
                    </a>
                    <button class="like-button {% if recipe.liked %}liked{% endif %}" 
                        data-recipe-id="{{ recipe.id }}" 
                        {% comment %} data-url="{% url 'like_recipe' recipe.id %}"> {% endcomment %}
                        <span class="like-icon">{% if recipe.liked %}❤️{% else %}🤍{% endif %}</span>
                        <span class="like-count">{{ recipe.likes }}</span>
                    </button>
                    <h3>{{ recipe.title }}</h3>
                    <div class="creator-details">
                        {% for profile in recipe_profiles %}
                            {% if profile.recipe_id == recipe.id %}
                                <img src="media/{{ profile.profile_pic }}" alt="Profile Picture" class="profile-pic">
                                <span>Created by: {{ profile.username }}</span>
                            {% endif %}
                        {% endfor %}
                    </div>                                                          
                    <p>{{ recipe.description }}</p>
                    <div class='recipe-bottom'>
                        <p>
                            {{ recipe.cuisine }} | 
                            <span class="diet-badge diet-{{ recipe.diet_type}}">
                                {{ recipe.diet_type }}
                            </span>
                        </p>                        
                        <div class="recipe-info">
                            <div class="views-container">
                                <span class="views-count">{{ recipe.views }} Views</span>
                            </div>
                            <div class="rating-container">
                                <div class="static-rating" data-average-rating="{{ recipe.average_rating }}" data-total-reviews="{{ recipe.total_reviews }}">
                                    <div class="stars"></div>
                                    <span class="reviews-count"></span>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'feast_recipes:recipe_content' recipe.id %}" class="cta-button">View Recipe</a>
                        <div class="card-actions">
                            <button class="share-button">
                                <i class="fas fa-share-alt"></i> Share
                            </button>
                            <button class="save-button {% if recipe.is_saved %}saved{% endif %}" 
                                data-recipe-id="{{ recipe.id }}" 
                                {% comment %} data-url="{% url 'save_recipe' recipe.id %}"> {% endcomment %}
                                <i class="fas fa-bookmark"></i> Save
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="pagination">
                {% if all_recipes.has_previous %}
                <a href="?page={{ all_recipes.previous_page_number }}">Previous</a>
                {% endif %}
                <span>Page {{ all_recipes.number }} of {{ all_recipes.paginator.num_pages }}</span>
                {% if all_recipes.has_next %}
                <a href="?page={{ all_recipes.next_page_number }}">Next</a>
                {% endif %}
            </div>
        </section>
    </main>
    <footer>
        <p>RecipeHub &copy; 2024. All Rights Reserved.</p>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/interaction.js' %}"></script>
    <script src="{% static 'js/dynamicrating.js' %}"></script>
</body>
</html>
