* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
}

/* Header */
header {
    position: sticky;
    top: 0;
    background:#032059; /* Modern gradient */
    padding: 15px 0;
    z-index: 100;
    border-bottom: 2px solid #dcdcdc;
}

/* Header Container */
.header-container {
    display: flex;
    justify-content: space-between; /* Space out logo, nav, and profile */
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

/* Logo */
.logo-link {
    text-decoration: none;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-left: 20%;
}

.logo span {
    font-family: 'Times New Roman', serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
}

.logo p {
    font-family: 'Times New Roman', serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: #f4f4f4;
    margin-top: 5px;
}

/* Navigation Container */
.nav-container {
    flex-grow: 1; /* Take up the available middle space */
    margin: 0 20px; /* Add spacing around the nav */
}

.nav-links {
    display: flex;
    justify-content: center; /* Center-align nav links */
    gap: 80px; /* Add spacing between items */
    list-style: none;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    color: #f4f4f4;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 8px 12px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-links a:hover {
    color: #a6a7aa;
    border-radius: 5px;
}

.nav-links a:active {
    color: #62637e;
    border-radius: 5px;
}

.active{
    background-color:#1f4195
}
/* Search Bar */
.search-bar {
    margin-left: 20px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 0.9rem;
}

/* Profile Container */
.profile-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-link {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 30%;
    object-fit: cover;
    border: 2px solid #f4f4f4;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.profile-pic:hover {
    transform: scale(1.1);
    border-color: #c4e1c1;
}

.login-link {
    color: #f4f4f4;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
    padding: 8px 12px;
}
/* Responsive Styles */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: center;
    }
    .nav-container {
        margin: 10px 0;
    }
    .nav-links {
        flex-wrap: wrap;
        gap: 10px;
    }
    .logo span {
        font-size: 2rem;
    }
    .logo p {
        font-size: 1rem;
    }
    .profile-pic {
        width: 35px;
        height: 35px;
    }
}
